@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* ### Primary */
  
  --DesaturatedDarkCyan: hsl(180, 29%, 50%);
  
  /* ### Neutral */
  
  /* (Background) */
  --LightGrayishCyan : hsl(180, 52%, 96%);
  
  /* (Filter Tablets) */
  --LightGrayishCyan: hsl(180, 31%, 95%);
  
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
 }
  

 @import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

 *, ::after, ::before {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
   }
 body {
     background-color: #effafa;
     font-family: 'Spartan', sans-serif;
     font-size: 15px;
 }
 .main-heading {
     font-size: 18px;
     font-weight: 700;
     color: hsl(180, 14%, 20%);
     cursor: pointer;
   }
   .secondary-heading {
     font-weight: 500;
     color: #5DA5A4;
   }
   .header-container, .new-tag {
       background-color: #5DA5A4;
   }
   .company_name{
     color: var(--DesaturatedDarkCyan);
     font-weight: 700;
   }
   .position_name:hover{
     color:var(--DesaturatedDarkCyan);
   }
   .featured{
    background-color: var(--VeryDarkGrayishCyan);
   }
   .tags {
     font-size: 9px;
     text-transform: uppercase;
     color: #fff;
     padding-top: 8px;
   }
   .tag {
     font-size: 10px;
     color: #5DA5A4;
     background-color: #effafa;
     font-weight: 700!important;
     cursor: pointer;
   }
   .tag:hover{
    background-color:var(--DesaturatedDarkCyan);
    color: var(--LightGrayishCyan);
   }
   .featured-item {
     border-left: 4px solid #5DA5A4;
     
   }
   .bg-white {
     background-color: #fff;
   }
   span {
       font-size: 11px;
   }

   .clear_style{
     color: var(--DesaturatedDarkCyan);
   }
   
   .delete_div{
     cursor: pointer;
     background: center url('./images/icon-remove.svg') no-repeat, var(--DesaturatedDarkCyan);
   }
   .delete_div:hover{
    background: center url('./images/icon-remove.svg') no-repeat, var(--VeryDarkGrayishCyan);
   }

   .tag_filter{
      font-size: 10px;
      color: #5DA5A4;
      background-color: #effafa;
      font-weight: 700!important;
   }